
SIS Renamer/bin/Release/SISRenamer.exe.config
SIS Renamer/bin/Release/SISRenamer.pdb
SIS Renamer/bin/Release/SISRenamer.vshost.exe.config
SIS Renamer/bin/Release/SISRenamer.vshost.exe.manifest
SIS Renamer/obj/
